@import "reset.css";

:root {
  --main-color: #6327fe;
  --main-bg-color: #eae8fe;
  --main-border-radius: 5px;
  --main-box-shadow: 0 0 3px 1px gray;
  --main-border: 2px solid lightgray;
  --non-selected-border: 5px solid rgb(224, 224, 224);
  --selected-border: 5px solid var(--main-color);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  height: 150vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-shadow: var(--main-box-shadow);
}

input {
  border: none;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

.header {
  width: 25%;
  margin: 0 auto 50px;
}

.wrapper {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.main-section {
  width: 50%;
  padding: 20px;
  margin-right: 50px;
  background-color: white;
  padding-bottom: 30px;
}

.drink-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.drink-list .drink-item {
  width: 120px;
  height: 170px;
  margin: 3px;
  border: var(--non-selected-border);
  border-radius: 20px;
  padding-top: 5px;
  box-sizing: border-box;
}

.drink-item.selected {
  border: var(--selected-border);
}

.sold-out-item {
  background-image: url(img/Sold-out.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.drink-item button {
  box-shadow: none;
}

.drink-item img {
  width: 45%;
  height: 45%;
  display: block;
  margin: 10px auto 5px;
}

.drink-item .drink-price {
  display: block;
  color: white;
  background-color: var(--main-color);
  width: 80%;
  margin: 5px auto;
  padding: 5px;
  border-radius: 20px;
}

.calculator__first-row,
.calculator__second-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.balance,
.deposit {
  width: 70%;
  height: 40px;
  padding: 0 10px;
  margin: 0 20px 0 0;
  background-color: white;
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  font-size: 14px;
  font-weight: 600;
}

.calculator button {
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  border-radius: 5px;
  width: 30%;
  height: 40px;
}

.shopping-list {
  display: flex;
  height: 120px;
}

.will-get-list {
  background-color: var(--main-bg-color);
  width: 75%;
  overflow: hidden scroll;
  margin-right: 10px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.will-get-list::-webkit-scrollbar,
.got-list-wrapper::-webkit-scrollbar {
  width: 10px;
}

.will-get-list::-webkit-scrollbar-thumb,
.got-list-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.will-get-list::-webkit-scrollbar-track,
.got-list-wrapper::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
.will-get-item,
.got-item {
  background-color: white;
  width: 90%;
  margin: 10px auto;
  border-radius: var(--main-border-radius);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

.will-get-item .quantity,
.got-item .quantity {
  position: absolute;
  font-weight: 600;
  right: 5px;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  padding: 10px;
  text-align: center;
  width: 40px;
}

.will-get-list .will-get-item img,
.got-list .got-item img {
  width: 20px;
  height: 40px;
  margin: 10px;
}

.shopping-list .get-btn {
  width: 25%;
  background-color: var(--main-color);
  border-radius: var(--main-border-radius);
  color: white;
  font-weight: 600;
}

.right-wrapper {
  width: 50%;
}

.current-money-wrapper {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.current-money {
  background-color: var(--main-bg-color);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.total-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  height: 83.5%;
  position: relative;
}

.total-section .total-section__header {
  font-weight: 600;
  margin: 20px 0;
}

.got-list-wrapper {
  background-color: var(--main-bg-color);
  width: 80%;
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  height: 80%;
}

.total-price-wrapper {
  margin-top: 20px;
  font-weight: 600;
  display: block;
  text-align: right;
  background-color: white;
  position: absolute;
  right: 10%;
  bottom: 5%;
}
